venv/
*.pyc
*.v2
sample.py
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.profile-empty
*.trace
*.index
training_checkpoints/
data/
application/resources/framing/frames/test.py
